<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.staticImages = {
    logo: "<%= image_url("splitwise_logo.png") %>",
    browser: "<%= image_url("browser_sample.png") %>",
    mobile: "<%= image_url("mobile_sample.png") %>",
    avatar: "<%= image_url("default_avatar.png") %>"
  }
</script>

<main id="root"></main>
